.place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.05;
    margin: 0 40px 0 0;
    width: 460px;
  }

  @media all and (min-width: 1024px) and (max-width: 1279px) {
    .place__title {
      margin-right: 32px;
      width: 440px;
      height: 100%;
    }
  }
  
  @media all and (min-width: 768px) and (max-width: 1023px) {
    .place__title {
      margin-right: 28px;
      width: 340px;
      font-size: 46px;
      line-height: 110%;
      height: 100%;
      display: flex;
      align-items: flex-end;
    }
  }
  
  @media all and (min-width: 320px) and (max-width: 767px) {
    .place__title {
      width: 288px;
      margin: 0 auto;
      height: 100%;
      font-size: 32px;
      line-height: 109%;
      display: flex;
    }
  }