.place__row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 48px;
  }
  
  
  .place__row:last-child {
    margin-bottom: 0;
  }
  
  @media all and (min-width: 320px) and (max-width: 767px) {
    .place__row {
      flex-direction: column;
      width: 320px;
      height: 100%;
      margin-bottom: 0;
    }
  }