

@media all and (min-width: 320px) and (max-width: 767px) {

  .footer_copyright {
    font-size: 14px;
    line-height: 1;
  }
  .footer__link {
    margin: 0 0 32px;
  }
  .footer__link:last-child {
    margin-bottom: 48px;
  }
}
