.header__langs {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  @media all and (min-width: 320px) and (max-width: 767px) {
    .header__langs {
      height: 24px;
    }
  }